/* Theme Builder mixin */

@mixin theme-builder(   $theme-primary: darken(#428bca, 6.5%), // #337ab7
                        $theme-success: #5cb85c,
                        $theme-info: #5bc0de,
                        $theme-warning: #f0ad4e,
                        $theme-danger: #d9534f
                    ) {
    color: $theme-info;
    @if lightness($theme-info) <= 50 {
        background-color: #fff; // TODO: Make this based on darkness
    } @else {
        background-color: #666;
    }



    .btn-primary {
        @if lightness($theme-primary) <= 50 {
            color: #fff; // TODO: Make this based on darkness
        } @else {
            color: #666;
        }
        background-color: $theme-primary;
        border-color: $theme-primary;
    }
    .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
        @extend .btn-primary;
    }
    .btn-success {
        @if lightness($theme-success) <= 50 {
            color: #fff; // TODO: Make this based on darkness
        } @else {
            color: #666;
        }
        color: #fff; // TODO: Make this based on darkness
        background-color: $theme-success;
        border-color: $theme-success;
    }
    .btn-info {
        @if lightness($theme-info) <= 50 {
            color: #fff; // TODO: Make this based on darkness
        } @else {
            color: #666;
        }
        color: #fff; // TODO: Make this based on darkness
        background-color: $theme-info;
        border-color: $theme-info;
    }
    .btn-warning {
        @if lightness($theme-warning) <= 50 {
            color: #fff; // TODO: Make this based on darkness
        } @else {
            color: #666;
        }
        color: #fff; // TODO: Make this based on darkness
        background-color: $theme-warning;
        border-color: $theme-warning;
    }
    .btn-danger {
        @if lightness($theme-danger) <= 50 {
            color: #fff; // TODO: Make this based on darkness
        } @else {
            color: #666;
        }
        color: #fff; // TODO: Make this based on darkness
        background-color: $theme-danger;
        border-color: $theme-danger;
    }

    .jumbotron {
        @if lightness($theme-info) <= 50 {
            color: #fff; // TODO: Make this based on darkness
        } @else {
            color: #666;
        }
        background-color: $theme-info;
    }
}